* {
  box-sizing: border-box;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.splash {
  text-align: center;
}

.galleryItem {
  display: flex;
  flex-direction: row;
  height: 70vh;
  overflow: hidden;
  > div {
    display:flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    overflow: hidden;
    &.galleryImage {
      img {
        width: 100%;
        height: auto;
      }
    }
    &.galleryContent {
      padding-left: 10vw;
    }
  }
  &:nth-child(even) {
    flex-direction: row-reverse;
  }
}
